.bundle/
log/*.log
pkg/
test/dummy/db/*.sqlite3
test/dummy/db/*.sqlite3-journal
test/dummy/log/*.log
test/dummy/tmp/
test/dummy/.sass-cache
/.idea/encodings.xml
/.idea/.generators
/.idea/jGrowl-rails.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/.name
/.idea/.rakeTasks
/.idea/scopes/scope_settings.xml
/.idea/vcs.xml
/.idea/workspace.xml
/j_growl_rails-0.0.1.gem
